@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');

/* CUSTOM PROPRTY */
:root {
  --accent-primary: #ddd;
  --accent-dark: #333;
  --accent-light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: 30px 50px;
  padding: 0;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  gap: 20px;
}


.sitenav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav-link {
  background-color: var(--accent-primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--accent-dark);
  box-shadow: var(--shadow);
  text-align: center;
  transition: 0.4s;
}

.sitenav-link:hover {
  background-color: var(--accent-dark);
  color: var(--accent-light);
}



.hero {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'heroContent heroContent heroBoxA'
    'heroContent heroContent heroBoxB';
}

.hero-content {
  grid-area: heroContent;
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/pic1.jpg');
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.hero-heading {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: var(--accent-light);
}

.hero-text {
  font-size: 1.2rem;
  margin-top: 0;
  color: var(--accent-light);
}

.btn {
  background-color: var(--accent-dark);
  padding: 0.6rem 1.3rem;
  color: var(--accent-light);
  text-decoration: none;
  border: 0;
}

.hero-box {
  background: var(--accent-primary);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}

.hero-box-a {
  grid-area: heroBoxA;
}

.hero-box-b {
  grid-area: heroBoxB;
}

.hero-box-price {
  font-size: 2.5rem;
}

.features {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: var(--accent-primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.info {
  background: var(--accent-primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

.portfolio {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio-img {
  width: 100%;
  box-shadow: var(--shadow);
}

.site-footer {
  margin-top: 2rem;
}

.site-footer-text {
  background: var(--accent-dark);
  padding: 1rem;
  color: var(--accent-light);
  text-align: center;
  margin-top: 2rem;
}

/* media queries */

@media (max-width: 700px) {
  .sitenav-list {
    grid-template-columns: 1fr;
  }

  .hero {
    grid-template-areas:
      'heroContent heroContent'
      'heroBoxA heroBoxB';
  }

  .hero-heading {
    font-size: 2rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .btn-info {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero {
    grid-template-areas:
      'heroContent'
      'heroBoxA'
      'heroBoxB';
  }
}
